.div-script {
  width: 100%;
  background: linear-gradient(to right, #7d4ea5 40%, #5d52a7 110%);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 7px 3px rgba(#4333a7, 0.5);
  color: #e0aaff;
  height: 100%;

  .script {
    padding: 10px;
    background: linear-gradient(to left, #1b0131 40%, #090233 110%);
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .script-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 10px;

      .svg {
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          transform: scale(1.1);
          transition: 0.3s ease;
        }
      }

      .img {
        width: 25px;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
          transition: 0.3s ease;
        }
      }

      .svg-active {
        & path {
          fill: white;
        }
      }
    }

    .script-name {
      font-size: 24px;
      background: linear-gradient(to left, #aa2a87 75%, #b8b22e 105%);
      -webkit-background-clip: text;
      background-clip: text;
      text-shadow: 0px 2px 3px rgba(#b8b22e, 0.4);
      color: transparent;
      font-weight: 700;
      text-transform: uppercase;
      text-align: start;
      margin-bottom: 15px;
      overflow-x: hidden;
    }
    .script-text {
      position: relative;

      width: 100%;
      font-size: 18px;
      border-radius: 10px;
      font-weight: 400;
      margin: 20px auto;
      text-align: center;
      max-width: 1200px;
      height: auto;

      & p {
        margin: 0px 30px 0px 35px;
        overflow: hidden;
      }
      div {
        margin-bottom: 5px;
      }
    }

    .script-text-max-height {
      overflow: hidden;
      height: 40px !important;
    }
  }

  .buutons_script {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 15px;
    padding-top: 20px;
    margin-top: auto;

    @media (max-width: 600px) {
      & {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .version-script {
    display: flex;
    align-items: center;
    gap: 5px;

    div {
      padding: 10px;
      background: linear-gradient(to right, #090233, #1b0131);
      border-top: 1px solid white;
      border-left: 1px solid white;
      border-right: 1px solid white;
      width: 50px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: white;
      text-align: center;
      font-weight: 700;
      cursor: pointer;
      transition: 0.3s ease;
      user-select: none;

      opacity: 0.9;
      &:hover {
        transition: 0.3s ease;
        transform: scale(0.95);
      }
    }

    .active-version-script {
      background: linear-gradient(to right, #aa2a87, #b8b22e);
      cursor: default;
      &:hover {
        transform: scale(1);
      }
    }
  }
}

.div__small-btn {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.small-btn {
  background-color: rgba(#4333a7, 0);
  border-radius: 5px;
  box-shadow: 0 0 7px 3px #0101014d;
  cursor: pointer;
  border: none;
  padding: 5px;
  transform: translateY(-5px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;

  &:hover {
    transition: 0.4s ease;
    background-color: #d52211;
    transform: scale(0.93);
  }
}

.small-btn-change {
  background-color: rgba(#4333a7, 0);
  border-radius: 5px;
  box-shadow: 0 0 7px 3px #0101014d;
  cursor: pointer;
  border: none;
  padding: 5px;
  transform: translateY(-5px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  padding-left: 7px;
  padding-right: 7px;

  &:hover {
    transition: 0.4s ease;
    background-color: #4333a7;
    transform: scale(0.93);
  }

  img {
    width: 22px !important;
    margin-top: 2px;
  }
}

.btn-gradient-open {
  position: absolute;
  left: 0px;
  bottom: -12px;

  background: linear-gradient(350deg, #aa2a87 30%, #b8b22e 110%);
  border-radius: 15px;
  box-shadow: 0 0 7px 3px #0101014d;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  transition: 0.4s ease;

  &:hover {
    transition: 0.4s ease;
    transform: scale(0.93);
    box-shadow: 0 0 7px 3px #4141414d;
  }

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 15px;
    transform: translateX(-50%);
    width: 80%;
    height: 80%;
    background-color: #090233;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 10px;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    z-index: 1;

    border-bottom: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(-135deg);

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-gradient-close {
  position: absolute;
  left: 0px;
  bottom: 5px;

  background: linear-gradient(350deg, #aa2a87 30%, #b8b22e 110%);
  border-radius: 15px;
  box-shadow: 0 0 7px 3px #0101014d;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  transition: 0.4s ease;

  &:hover {
    transition: 0.4s ease;
    transform: scale(0.93);
    box-shadow: 0 0 7px 3px #4141414d;
  }

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 15px;
    transform: translateX(-50%);
    width: 80%;
    height: 80%;
    background-color: #090233;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 10px;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    z-index: 1;

    border-bottom: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
