*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
}
body {
  /* background: linear-gradient(to right, #2a034c 40%, #0f054e 110%); */
  background: linear-gradient(to right, #1b0131 40%, #090233 110%);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

main {
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 0 15px;
}

@keyframes animClose {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(40%);
    opacity: 0;
  }
}

.anim-close {
  animation: animClose 0.5s ease forwards;
}

@keyframes animOpen {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.anim-open {
  animation: animOpen 0.5s ease forwards;
}

.disable {
  background-color: gray !important;
}

@keyframes animResetBtn {
  0% {
    transform: rotate(275deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.animResetBtn {
  animation: animResetBtn 1s ease forwards;
}

@keyframes animOpenWindow {
  0% {
    transform: translateY(-300%) scale(0.5);
  }

  65% {
    transform: translateY(60%) scale(1);
  }

  100% {
    transform: translateY(0%) scale(1);
  }
}

.anim-open-window {
  animation: animOpenWindow 0.6s ease forwards;
}

@keyframes animOpen2 {
  0% {
    transform: rotateX(270deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.anim-open2 {
  animation: animOpen2 0.5s ease forwards;
}
